* {
  background-color: rgb(130, 142, 153);
}

.App {
  text-align: center;
  padding-left: 10%;
  padding-right: 20%;
}

.Chart{
  /* display: inline-block; */
  margin-top: 3%;
  float: left;
  align-content: left;
  /* justify-content: center;    
  align-content: left; */
}

.textDiv{
  /* display: inline-block; */
  float: right;
  width: 30%;
  color: #535953;
}

.Temptext{
  /* display: flex; */
  font-size: 40px;
  background-color: beige;
  justify-content: center;    
  margin-bottom: 5%;
  padding: 10%;
  border-radius: 10px;
}

.Humtext{
  /* display: flex; */
  font-size: 40px;
  background-color: beige;
  justify-content: center;
  padding: 10%;
  border-radius: 10px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
